h1{
  font-family: 'Delicious Handrawn', cursive;
}

h2{
  font-family: 'Lato', sans-serif;
}


.fonte-paragrafo{
  font-family: 'Fjalla One', sans-serif;
}

li{
color: #a600ff;
}

td{
  color:#2e6c14;
}

body {background-image: url('https://img.freepik.com/vetores-premium/fundo-bege-velho-papel-molhado-aquarela-grunge-texturizado_70155-527.jpg ');}